.logo-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container .doeImg {
    width: 800px;
    height: 800px;
}

.logo-container section.form {
    width: 100%;
    max-width: 350px;
    padding-right: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-right: 3px solid black;
}

.logo-container section.form img {
    width: 200px;
    height: 200px;
}


.logo-container section.form input {
    margin-top: 10px;
}

.logo-container section.form form {
    margin-top: 50px;
}

.logo-container section.form form h1 {
    font-size: 32px;
    margin-bottom: 32px;
}




